/* stylelint-disable */
html {
  box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
margin: 0;
background-color: $page-background;
font-size: 16px;
line-height: 1.7;
display: flex;
}

.page__container {
width: calc(100% - 240px);
top: 50px;
left: 240px;
padding: 0 20px 20px 20px;
position: absolute;
z-index: -1;
}

